@model IEnumerable<Instructor>

@{
    ViewData["Title"] = "المدربين";
    ViewData["activeNavbarItem"] = "instructors";
}

<div class="content-wrapper">
    <div class="fading-bg px-2 pt-5 pb-3">
        <div class="container">
            <h1 class="mb-5">المدربين</h1>
        </div>
    </div>

    <div class="fading-bg pb-5">
        <div class="container">
            <div class="cards-container">
                @foreach (var instructor in Model)
                {
                    <div class="card instructor-card">
                        <div class="card-body">
                            <div class="instructor-image">
                                <img src="@(instructor.Gender == 'f' ? Href("~/img/female.jpg") : Href("~/img/male.jpg"))"
                                     alt="Profile" class="rounded">
                            </div>

                            <div class="instructor-info">
                                <div class="header">

                                    <h3>
                                        @instructor.FullName
                                    </h3>

                                    <a asp-controller="Home" asp-action="InstructorDetails" asp-route-id="@instructor.Id"
                                       class="btn btn-outline-primary btn-sm">

                                        تفاصيل أكثر
                                    </a>
                                </div>



                                <h5>مؤهلاته</h5>
                                <div>
                                    @Html.Raw(instructor.Qualifications)
                                </div>

                                <h5>سنوات الخبرة</h5>
                                <p>
                                    @instructor.ExperienceYears
                                </p>
                            </div>

                            <a asp-controller="Home" asp-action="InstructorDetails" asp-route-id="@instructor.Id"
                               class="btn btn btn-primary">

                                تفاصيل أكثر
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>