@model IEnumerable<KorsatkoApp.Areas.Admin.ViewModels.UsersViewModel>

@{
    ViewData["Title"] = "المستخدمين";
    Layout = "_DatatableAdminLayout";
    ViewBag.datatableNoAdd = true;
}

<h3>المستخدمين</h3>
<br />

@section TableHeader {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            نوع الحساب
        </th>
        <th></th>
    </tr>
}
@section TableRows {
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FullName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Role?.Replace("Admin", "مشرف")?.Replace("User", "طالب")
            </td>
            <td>
                @if (!item.Role.Contains("Admin"))
                {
                    <form method="post" action="/Admin/Users/MakeAdmin">
                        <input type="hidden" name="Email" value="@item.Email" />
                        <input class="btn btn-sm btn-primary" type="submit" value="ترقية لمشرف" />
                    </form>
                }
            </td>
        </tr>
    }
}
