@model CourseViewModel

@{
    ViewData["Title"] = "Delete";
}


<h3>هل متأكد من الحذف ؟</h3>
<div>
    <h4>الكورس</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prerequisites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prerequisites)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoursePicture)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/@Model.ExistingImage" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
