@model Session

@{
    ViewData["Title"] = "Details";
}

<h2 class="m-2">تفاصيل الميعاد</h2>


<div>

    <div class="m-3 d-none d-sm-block">
        <img src="~/Uploads/@Model.course.Picture" width="250px">
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.instructor.FullName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<h1 class="arabic">الطلاب</h1>


<!-- Main content -->
 <section class="content pb-5">
    <div class="container">
        <div class="card">
            <div class="card-body arabic">
                <div class="row">
                    <div class="col-12 col-sm-8" id="tableButtons"></div>

                    <div class="col-12 col-sm-4">
                        <input type="text" id="search" class="form-control d-inline w-100 w-sm-auto float-left"
                               placeholder="بحث">
                    </div>
                </div>

                <table id="datatable" class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>الاسم بالكامل</th>
                            <th>الرقم القومي</th>
                            <th>تاريخ الميلاد</th>
                            <th>النوع</th>
                            <th>البريد الالكتروني</th>
                            <th>رقم الهاتف</th>
                            <th></th>
                        </tr>
                    </thead>
                     <tbody>
                        @foreach (var item in Model.Enrollments) {

                        <tr>
                                <td>@item.student.FullName</td>
                                <td>@item.student.NationalId</td>
                                <td>@item.student.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                @if (item.student.Gender == 'f') {
                                    <td>انثى</td>
                                } else {
                                    <td>ذكر</td>
                                }
                                <td>@item.student.Email</td>
                                <td>@item.student.PhoneNumber</td>
                            <td class="text-nowrap">
                                <a href="#" class="btn icon-btn-sm btn-outline-primary m-1">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="btn icon-btn-sm btn-outline-danger m-1">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/plugins/adminlte/js/adminlte.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        var t = $('#datatable')
            .DataTable({
                language: {
                    url: "/plugins/datatables/locale/ar.json"
                },
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                autoWidth: false,
                responsive: true,
                serverSide: false,
                initComplete: function () {
                    const api = this.api();

                    const addButtons = buttons => {
                        new $.fn.dataTable.Buttons(api, { buttons });
                        api.buttons().container().appendTo('#tableButtons');
                    }

                    addButtons(["colvis"]);
                },
                columnDefs: [
                    { targets: [-1], orderable: false }
                ]
            });

        $("#search").on("input", (e) => {
            const q = e.target.value;
            console.log(q);
            t.column(0).search(q).draw();
        });


                    // $("#datatable").DataTable({
                    //     "responsive": true, "lengthChange": false, "autoWidth": false,
                    //     "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                    // }).buttons().container().appendTo('#tableButtons');
    </script>
}