@{
	ViewData["Title"] = "لوحة القيادة";
}
@model KorsatkoApp.Areas.Admin.ViewModels.SearchViewModel

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<div class="justify-content-center container mt-2">


	<!--Excel and PowerBi-->
	<div class="row arabic">
		<div class="col">

			<a asp-action="ExportInExcel">
				<div class="small-box bg-success">
					<div class="inner">
						<h3>Excel</h3>
						<p>حفظ كل البيانات</p>
					</div>
					<div class="icon">
						<i class="ion ion-pie-graph"></i>
					</div>

				</div>
			</a>
		</div>

		<div class="col">
			<a asp-action="Reports">
				<div class="small-box bg-warning">
					<div class="inner">
						<h3>Power Bi</h3>
						<p>تقارير</p>
					</div>
					<div class="icon">
						<i class="ion ion-pie-graph"></i>
					</div>

				</div>
			</a>
		</div>
	</div>

	<!--Status-->
	<div class="row arabic">
		<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-info">
				<div class="inner">
					<h3>@ViewBag.studentCount</h3>

					<p>عدد الطلاب</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>

			</div>
		</div>

		<!-- ./col -->
		<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-success">
				<div class="inner">
					@*                 <h3>53 <sup style="font-size: 20px">%</sup></h3>
					*@
					<h3>@ViewBag.instructorsCount </h3>

					<p>عدد المدربين</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-warning">
				<div class="inner">
					<h3>@ViewBag.enrollmentCount</h3>

					<p>عدد الإشتراكات</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				@* 				<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
				*@
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-danger">
				<div class="inner">
					<h3>@ViewBag.courseCount</h3>

					<p>عدد الكورسات</p>
				</div>
				<div class="icon">
					<i class="ion ion-pie-graph"></i>
				</div>
				@* 				<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
				*@
			</div>
		</div>
		<!-- ./col -->
	</div>
	<h4>تقرير مفصل عن الطلاب</h4>
	<form asp-action="Index" class="card p-3">
		<div class="form-group">
			<label asp-for="student"></label>
			<select asp-for="student" asp-items="@ViewBag.students">
				<option value="">اختار</option>

			</select>
		</div>

		<div class="form-group">
			<div>
				<label asp-for="gender"></label>
				<select asp-for="gender">
					<option value="">اختار</option>

					<option value='m'>ذكر</option>
					<option value='f'>انثى</option>
				</select>
			</div>
			<div>
				<label>العمر</label>
				<label asp-for="ageOlderThan"></label>
				<input asp-for="ageOlderThan" />
				<label asp-for="ageYoungerThan"></label>
				<input asp-for="ageYoungerThan" />
			</div>
			<div>
				<label asp-for="course"></label>
				<select asp-for="course" asp-items="@ViewBag.courses">
					<option value="">اختار</option>
				</select>
			</div>
		</div>

@* 		<div class="form-group">

			<div>
				<label asp-for="session"></label>
				<select asp-for="session" asp-items="@ViewBag.sessions">
					<option value="">اختار</option>
				</select>
			</div>
		</div>
 *@
		<div>
			<button class="btn btn-info" type="submit">بحث</button>
		</div>
	</form>
	<a class="btn btn-success">طباعة</a>

	<table class="table border">
		<thead>
			<tr>
				<th>الاسم بالكامل</th>
				<th>النوع</th>
				<th>رقم الهاتف</th>
				<th>الرقم القومي</th>
				<th>تاريخ الميلاد</th>
				<th>البريد الإلكتروني</th>
				<th>تاريخ التسجيل</th>
			</tr>
		</thead>
		<tbody>

			@if (ViewBag.studentResult != null) {
				foreach (var student in ViewBag.studentResult) {
					<tr>
						<td>@student.FullName</td>
						@if (@student.Gender == 'f') {
							<td>انثى</td>
						} else {
							<td>ذكر</td>
						}
						<td>@student.PhoneNumber</td>
						<td>@student.NationalId</td>
						<td>@student.DateOfBirth</td>
						<td>@student.Email</td>
						<td>@student.AddedOn</td>
					</tr>
				}
			}

		</tbody>
	</table>


</div>
